<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12" *ngIf="!loader">
        <h1 class="text-center f-primary border-dot mt-3 flex justify-center items-center">
          Simulador
        </h1>
        <form [formGroup]="formSalary" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="salary" class="f-primary">Renda Mensal Bruto</label>
            <input type="number" class="form-control" formControlName="salary" name="salary" id="salary" minlength="2"
              [(ngModel)]="salary" placeholder="R$998,00" />
            <div class="alert alert-danger mt-2" *ngIf="salary < 998">
              Valor deve ser maior que o salário mínimo! :(
            </div>
          </div>
          <app-button type="submit" [disabled]="salary < 998"></app-button>
        </form>
      </div>
    </div>
    <div class="loader">
      <app-loader [active]="loader"></app-loader>
    </div>
    <div class="row mt-5" *ngIf="salaryResponse">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <app-hiring-scheme-table *ngIf="!loader" hiring-scheme="CLT" [salary]="salaryResponse.salary"
          [liquidSalary]="salaryResponse.liquidSalary" [tributes]="salaryResponse.tributes">
        </app-hiring-scheme-table>
      </div>
    </div>
  </div>
</section>
