<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center f-primary border-dot mt-3 flex justify-center items-center">
          Simulador
        </h1>
        <form [formGroup]="formSalary" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="salary" class="f-primary">Renda Mensal Bruto</label>
            <input type="text" class="form-control" formControlName="salary" name="salary" id="salary" />
            <h4 style="color: rgb(151, 14, 14)" *ngIf="errorMessages">
              Valor deve ser maior que zero! (:
            </h4>
          </div>
          <button type="submit" class="btn btn-warning w-100 text-white f-primary">
            Carregar
          </button>
        </form>
      </div>
    </div>
    <div class="loader">
      <app-loader [active]="loader"></app-loader>
    </div>
    <div class="row mt-5" *ngIf="salaryResponse">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <app-hiring-scheme-table hiring-scheme="CLT" [salary]="salaryResponse.salary"
          [liquidSalary]="salaryResponse.liquidSalary" [tributes]="salaryResponse.tributes">
        </app-hiring-scheme-table>
      </div>
    </div>
  </div>
</section>
